/*Global SCSS*/
/*Global Styles*/
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}
/*Global SCSS*/
/*Global Styles*/
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}
header {
  height: 12%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  font-size: 2vh;
  background: white;
  border-bottom: solid 2px #f4f1eb;
}
header .logo {
  margin: 0;
  padding: 0;
  display: inline-block;
}
header img {
  height: 66.66%;
  display: inline-block;
  margin: 0px auto;
}

input[for=nav-toggle]:checked ~ nav {
  display: block;
}

/*Global SCSS*/
/*Global Styles*/
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}
nav {
  display: none;
  width: 100%;
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: #262a33;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  color: white;
  padding: 1em 0 1em 1.5em;
}
nav a:link, nav a:visited, nav a:hover, nav a:active {
  color: inherit;
  text-decoration: none;
}
nav a {
  font-size: 2vh;
  text-transform: uppercase;
}

#nav-toggle:checked + nav {
  display: block;
}

/*Global SCSS*/
/*Global Styles*/
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}
.slider {
  display: block;
  margin: 3.5vh auto;
  height: 60%;
  width: 95%;
}
.slider input {
  opacity: 0;
}

.container {
  margin: 12% auto;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  overflow-x: hidden;
}

.slide {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 160%;
  margin: 0;
  padding: 0;
  transition: left 0.01s 0.7s;
  border-radius: 15px;
  color: white;
}

.content {
  font-size: 2.5vh;
  margin: 0;
  padding: 1em 0 0 5%;
  z-index: 3;
}

.content_h {
  font-size: 5vh;
  margin: 0;
  padding: 2em 0 0 5%;
  transition: opacity 0.2s 0.8s ease;
}

@media screen and (min-width: 768px) {
  .content {
    max-width: 60vh;
  }
}
.slide-nav {
  width: 100%;
  height: 1rem;
  position: absolute;
  bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.dots {
  display: inline-block;
  z-index: 99;
  height: 1.5vh;
  width: 1.5vh;
  top: -5px;
  margin: 1vh;
  position: relative;
  border: solid -0.4vh 255, 255, 255, 0.3;
  border-radius: 50%;
  transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in;
  -moz-transition: all 0.35s ease-in;
  -webkit-transition: all 0.35s ease-in;
  -o-transition: all 0.35s ease-in;
  -ms-transition: all 0.35s ease-in;
  background: rgba(255, 255, 255, 0.3);
}

.dots:hover {
  border: solid 0.4vh white;
}

#event1:checked ~ .slide-nav #dot1,
#event2:checked ~ .slide-nav #dot2,
#event3:checked ~ .slide-nav #dot3 {
  border: solid 0.4vh white;
  background: rgba(255, 255, 255, 0);
}

.bg1 {
  background: url("../files/1st.png") 100% 25% no-repeat #262a33;
  background-size: cover;
}

.bg2 {
  background: url("../files/2nd.png") 65% no-repeat;
  background-size: cover;
}

.bg3 {
  background: url("../files/3rd.png") center no-repeat;
  background-size: cover;
}

#event1:checked + #first,
#event2:checked + #second,
#event3:checked + #third {
  transition: left 0.7s ease-in;
  -moz-transition: left 0.7s ease-in;
  -webkit-transition: left 0.7s ease-in;
  -o-transition: left 0.7s ease-in;
  -ms-transition: left 0.7s ease-in;
  z-index: 2;
  left: 0;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 33.33%;
  width: 100%;
  background: no-repeat url(../files/banner-img.jpg) 50% 30%;
  background-size: cover;
}
.banner h1 {
  width: 100%;
  height: 33.33%;
  font-size: 5vh;
  margin: auto 0 0 0;
}
.banner p {
  width: 95%;
  font-size: 2vh;
  margin: -1em auto auto auto;
}
.banner p, .banner h1 {
  color: white;
  text-shadow: 2px 2px 2px black;
}
@media screen and (min-width: 768px) {
  .banner p, .banner h1 {
    max-width: 50vh;
  }
}

/*Global SCSS*/
/*Global Styles*/
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}
.popular-items {
  margin: 0;
  padding: 0;
  height: 75%;
  background: #262a33;
}

.items-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  padding: 1.8vh 0;
  font-size: 1.8vh;
  color: white;
}

.items-container::before,
.items-container::after {
  color: white;
  content: "";
  flex: 1;
  border-bottom: solid 0.1vh;
  box-shadow: 0 -1px;
}

.items-container::before {
  margin: auto 5% auto 0;
}

.items-container::after {
  margin: auto 0 auto 5%;
}

/*Global SCSS*/
/*Global Styles*/
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #46413e;
  color: white;
}
.services section {
  display: flex;
  padding: 5%;
  height: 33%;
  width: 80%;
  margin: 0 auto;
}
.services section div, .services section figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 50%;
}
.services section div {
  align-items: left;
}
.services section div h1 {
  height: 20%;
  width: 80%;
  margin: 0;
  font-size: 3vh;
  text-transform: uppercase;
  font-weight: 500;
}
.services section div p {
  height: 80%;
  width: 80%;
  font-size: 2vh;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: auto;
  padding: 0;
}

.svg-container {
  display: flex;
  justify-content: center;
}

.service-svg {
  flex-grow: 1;
  width: 12vh;
  height: 12vh;
}

/*# sourceMappingURL=home.css.map */
