footer{
    background-color: $primary;
    color: $secondary;
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    section, ul{
        @include spacing-reset;
    }
    @include anchor-reset;
    figure{
        padding: 0;
        margin: 45px auto;
        display: flex;
        justify-content: space-between;
        width: 130px;
        img{
            height: 100%;
            width: auto;
        }
    }
}
.foot-nav{
    box-sizing: border-box;
    padding: 20px 15px 0 15px;
    a.drop{
        font-weight: 500;
        margin: 14px 0;
    }
    .drop-first{
        font-size: 13px;
        li{
            margin: 14px 0;
        }
    }
    .geo > li{
        margin-bottom: 25px;
    }
}
#osf-email{
        
}
#copyright{
    margin-bottom: 25px;
}
.foot-icons{
    height: 55px;
    width: 100vw;
    @include spacing-reset;
    margin-top: 22px;
    background: $secondary;
    @include centered-flex;
    figure{
        height: 100%;
        width: 72%;
        padding: 0;
        margin: 0 auto;
        display: flex;
    }
    img{
        height: auto;
        width: auto;
        margin: 0 15px;
    }
}

