
//////////////////////////////////////////
/*Global SCSS*/
//////////////////////////////////////////
$main-font: 'Lato', sans-serif;
$lato: 'Lato';
$second-font: 'Quicksand', sans-serif;
$third-font: 'Sniglet', cursive;
//Global Colors
$primary: rgba(255,255,255, 1);
$secondary: rgba(38, 42, 51, 1);
$tertiary: rgba(70,65,62,1);
$quaternary: rgba(240, 236, 233, 1);
$quinary: rgba(143, 174, 80, 1);
$senary: rgba(69, 65, 62, 1);
$septenary: rgba(133, 188, 34, 1);
$octonary: rgba(59, 91, 150, 1);
$nonary: rgba(1, 23, 70, 1);
//Specific Colors
$prod-b: rgba(54, 59, 65,1);
$br-color: rgba(239, 239, 239,1);
$border-color: rgba(244, 241, 235, 1);
$money-green: rgba(94, 196, 110,1);


@mixin full-dimensions{
	height: 100%; width: 100%;
}
@mixin anchor-reset{
	a:link, a:visited, a:hover, a:active{
		color: inherit;
		text-decoration: none;
	} 
}
@mixin spacing-reset{
	margin: 0;
	padding: 0;
}
@mixin centered-flex{
	display: flex;
	align-items: center;
	justify-content: center;
}
@mixin dots{
    .dots{
        display: inline-block;
        z-index: 99;
        height: 10px; width: 10px;
        margin: 0 7.5px;
        position: relative;
        border: solid -5px (255,255,255, 0.3);
        border-radius: 50%;
        transition: all 0.35s ease-in-out;
        @include transition-dots;
        background: rgba(255,255,255, 0.3);
    }
}
@mixin icons{
    figure{
        height: 100%;
        padding: 0;
        margin: 0 auto;
        @include centered-flex;
    }
    img{
        height: auto;
        width: auto;
        margin: 0 15px;
    }    
}
/////////////////////////////////////////////
/*Global Styles*/
////////////////////////////////////////////
html, body{
	@include full-dimensions;
	@include spacing-reset;
    overflow-x: hidden;
	position: relative;	
	font-size: 16px;
	font-family: $third-font;
    font-family: $second-font;
    font-family: $main-font;
}

.preload{
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
///Small Styles///
li{
    list-style-type: none;
}
ul{
    @include spacing-reset;
}
a, button{
    cursor: pointer;
}
.openapp:hover{
    text-decoration: underline;
    color: $quinary;
}
//Mobile Dropdown menu///
.drop{
    display: flex;
    width: 100%;
    list-style-type: none;
    text-transform: uppercase;
    img{
        margin-left: auto;
    }
}
.drop-first{
    display: none;
    text-transform: none;
    font-weight: 300;
}
.drop-second{
    display: none;
    text-transform: none;
    font-weight: 300;
}
.drop.open > img{
    transform: rotate(180deg);
}
.drop.open ~ .drop-first{
    display: block;
}
.drop-first ~ .drop-second{
    display: none;
}
.drop.open ~ {
    .drop-first.open + .drop-second{
        display: block !important;
        margin-left: 30px;
        li{
            margin: 7.5px 0;
        }
    }
}
@media screen and (min-width: 768px){
	html{
		font-size: 18px;
	}
}
@media screen and (min-width: 1200px){
	html{
		font-size: 20px;
	}
}
