
//////////////////////////////////////////
/*Global SCSS*/
//////////////////////////////////////////
$main-font: 'Lato', sans-serif;
$second-font: 'Quicksand', sans-serif;
$third-font: 'Sniglet', cursive;
$primary: rgba(255,255,255, 1);
$secondary: rgba(38, 42, 51, 1);
$tertiary: rgba(70,65,62,1);
$border-color: #f4f1eb;

@mixin full-dimensions{
	height: 100%; width: 100%;
}
@mixin anchor-reset{
	a:link, a:visited, a:hover, a:active{
		color: inherit;
		text-decoration: none;
	} 
}
@mixin spacing-reset{
	margin: 0;
	padding: 0;
}
@mixin centered-flex{
	display: flex;
	align-items: center;
	justify-content: center;
}

/////////////////////////////////////////////
/*Global Styles*/
////////////////////////////////////////////
html, body{
	@include full-dimensions;
	@include spacing-reset;
    overflow-x: hidden;
	position: relative;	
	font-size: 16px;
	font-family: $third-font;
    font-family: $second-font;
    font-family: $main-font;
}

.preload{
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
li{
    list-style-type: none;
}
ul{
    @include spacing-reset;
}
a, button{
    cursor: pointer;
}
//Dropdown menu
.drop{
    display: flex;
    width: calc(100% - 30px);
    list-style-type: none;
    text-transform: uppercase;
    img{
        margin-left: auto;
    }
}
.drop-first{
    display: none;
    text-transform: none;
    font-weight: 300;
}
.drop-second{
    display: none;
    text-transform: none;
    font-weight: 300;
}
.drop.open > img{
    transform: rotate(180deg);
}
.drop.open ~ .drop-first{
    display: block;
}
.drop.open ~ {
    .drop-first.open + .drop-second{
        display: block;
        margin-left: 30px;
        li{
            margin: 7.5px 0;
        }
    }
}
@media screen and (min-width: 768px){
	html{
		font-size: 18px;
	}
}
@media screen and (min-width: 1200px){
	html{
		font-size: 20px;
	}
}
