@import "global.scss";
header{
	height: 12%; width: 100%;
	position: fixed;
	top: 0; left: 0;
	z-index: 100;
	text-align: center;
	font-size: 2vh;
	background: $primary;
	border-bottom: solid 2px $border-color;
	.logo{
		@include spacing-reset;
		display: inline-block;
	}
	img{
		height: 66.66%;
		display: inline-block;
		margin: 0px auto;
	}
}
input[for="nav-toggle"]:checked ~ nav{
	display: block;
}
