@import "global.scss";
header{
	height: 12%; width: 100%;
	position: fixed;
	top: 0; left: 0;
	z-index: 100;
	text-align: center;
	font-size: 2vh;
	background: $primary;
	border-bottom: solid 2px $border-color;
	figure{
		display: inline-block;
		height: 100%; width: 3em;
		@include spacing-reset;
	}
	figure > img{
		position: relative;
        top: 0;
		height: 100%;
	}
}
.heading{
    display: none;
    @include spacing-reset;
}
@media screen and (min-width:768px){
    .heading{
        display: inline-block;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}