@import "global.scss";
nav{
	display: none;
	width: 100%;
	position: absolute;
	text-align: left;
	top: 100%; left: 0;
	background: $secondary;
	ul{
		@include spacing-reset;
		list-style: none;
	}
	li{
		color: $primary;
		padding: 1em 0 1em 1.5em;
	}
	@include anchor-reset;
	a{
		font-size: 2vh;
		text-transform: uppercase;
	}
}
#nav-toggle:checked + nav{
	display: block;
}

