@import "global.scss";
.services{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: $tertiary;
	color: $primary;
	section{
		display: flex;
		padding: 5%;
		height: 33%;
		width: 80%;
		margin: 0 auto;
		div, figure{
			display: flex;
			flex-direction: column;
			align-items: center;
			@include spacing-reset;
			height: 100%;
			width: 50%;
		}
		div{
			align-items: left;

			h1{
				height: 20%;
				width: 80%;
				margin: 0;
				font-size: 3vh;
				text-transform: uppercase;
				font-weight: 500;
			}
			p{
				height: 80%;
				width: 80%;
				font-size: 2vh;
				color: rgba(255,255,255,0.4);
				margin-bottom: auto;
				padding: 0;
			}
		}
	}
}
.svg-container{
	display: flex;
	justify-content: center;
}
.service-svg{
	flex-grow: 1;
	width: 12vh;
	height: 12vh;
}