$slider1: "../files/1st.png";
$slider2: "../files/2nd.png";
$slider3: "../files/3rd.png";
@import "global.scss";
@import "header.scss";
@import "navigation.scss";
@import "slider-1.scss";
@import "banner-1.scss";
@import "popular-items.scss";
@import "services.scss";